@model Books.Models.Book

<h1>Books</h1>

<a asp-action="Create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Publication Year</th>
            <th>Genre</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.PublicationYear</td>
                <td>@book.Genre</td>
                <td>@book.Author.AuthorName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@book.BookId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@book.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
